<form class="" [formGroup]="calculatorForm" (ngSubmit)="onSubmit()">
    <div class="">
        <div class="">
            <label for="shopId" class="form-label">Indiquez l'id du shop</label>            
            <input type="number" formControlName="shopId"  class="form-control"/>
        </div>
    </div>
    <div class="">
        <div class=" ">
            <label for="amount" class="form-label">Montant désiré</label>
            <input type="number" formControlName="amount" class="form-control" id="amount" >      
    
            <div *ngIf="serverResponse && serverResponse.equal">
                <p>Vos cartes:</p>
                <div *ngFor="let cards of serverResponse.equal.cards">
                    <p>{{cards | json}}</p>
                </div>
            </div>
        </div>
        <div class=" ">
            <div class="" >
                <div class="" *ngIf="serverResponse">
                    <div class="" >
                        <p>Montant possibles:</p>
                        <button  [disabled]="!serverResponse.ceil || serverResponse.equal"
                        (click)="onUpperValue()" class="btn btn-primary higher">Supérieur</button>            
                    </div>
                    <div class="">
                        <button [disabled]="!serverResponse.floor || serverResponse.equal"
                        (click)="onLowerValue()" class="btn btn-primary lower">Inférieur</button>       
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">     
                <button [disabled]="!canValid" class="submit" type="submit">Submit</button>    
            </div>
        </div>
    </div>
</form>